#pantry{ 
    background-color: lightpink;
    font-size: 30px;
    border: 3px solid black;
    margin: auto;
    display: inline;
    padding-right: 300px;
}
.can{
    display: inline-block;
    background-color: lightgray;
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: 20px solid lightgrey;
}
.snacks{
    display: inline-block;
    background-color: lightgray;
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: 20px solid lightgrey;
}
.freezer{
    background-color: lightpink;
    font-size: 30px;
    border: 3px solid black;
    margin:auto;
    display: inline;
    padding-right: 300px;
}
.meats{
    display: inline-block;
    background-color: lightgray;
    width: 190px;
    padding: 10px;
    margin: 10px;
    border: 20px solid lightgrey;
}
.drinks{
    display: inline-block;
    background-color: lightgray;
    width: 190px;
    padding: 10px;
    margin: 10px;
    border: 20px solid lightgray;
}
.cocoa {
    width: 150px;
    border: solid black;
    padding: 5px
}
.milk{
    width: 100px;
    border: solid black;
    padding: 5px;
}
ol {
    list-style-type: upper-roman;
}
ul {
    list-style-type:square;
}